{% extends "layouts/base.html" %}
{% block content %}

<h1 style="text-align: center; color:rgb(8, 180, 192)">Registration</h1>
<div class="container mt-3 bg-white h-75 rounded">

    {% for field,error in loginform.errors.items() %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
    {%endfor%}
    {% endwith %}

    <form method="post" style="color: rgb(255, 0, 234);" enctype="multipart/form-data">
        {{ loginform.hidden_tag() }}
        {{ loginform.email (class="form-control", placeholder = loginform.email.label.text) }}<br>
        {{ loginform.password (class="form-control", placeholder = loginform.password.label.text)}}<br>
        <br>
        {{ loginform.submit }}

    </form><br>
</div>


</div>
{% endblock %}